body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: 100% 100%;
  -webkit-text-size-adjust: none;
}
.border {
  padding: 0;
  border: 1px solid #024381;
}
.bg {
  width: 100%;
  background-size: 100% 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 107px;
}
.header .header_logo {
  width: 152px;
  height: 30px;
  font-size: 0;
  margin-left: 50px;
}
.header .header_right {
  height: 18px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header .header_right .header-logout {
  width: 90px;
  height: 37px;
  font-size: 0;
  margin-left: 33px;
  cursor: pointer;
}
.com_main {
  flex-grow: 1;
  padding: 10px 5px;
}
.com_title {
  font-size: 18px;
  padding: 50px 0 0 40px;
}
.com_title span {
  width: 10px;
  height: 22px;
  margin-right: 8px;
  background-color: #fee617;
}
.pt {
  padding-top: 0 !important;
}
.yellow {
  color: #fae815;
}
.red {
  color: #ff0500;
}
.orange {
  color: #fa8d01;
}
.blue {
  color: #04ffff;
}
.green {
  color: green;
}
.com-mid_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
}
.com-mid_title .com-mid_text {
  width: 232px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.com-mid_title .com-mid-title_cl {
  width: 36px;
  height: 57px;
}
.com-mid_title .com-mid-title_cr {
  width: 36px;
  height: 57px;
}
.com_alarm {
  padding: 0 60px;
}
.com_alarm .com-alarm_title {
  font-size: 15px;
  margin: 20px 0;
}
.com_alarm .com-alarm_dd {
  font-size: 15px;
  margin: 10px 0;
}
.com_alarm .com-alarm_dd .com-alarm-dd_badge {
  box-shadow: inset 0 0 12px 1px #4288b9;
  font-size: 16px;
  font-weight: bold;
  color: #00ffff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.layui-form .layui-form-item {
  margin: 0;
  font-size: 16px;
  color: #ccc;
  margin: 15px 0;
}
.layui-form .layui-form-item .layui-form-label {
  width: auto;
  padding: 0;
  margin: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: inherit;
}
.layui-form .layui-form-item .layui-input-inline {
  margin: 0;
  padding: 0;
  width: auto;
}
.layui-form .layui-form-item .layui-form-mid {
  padding: 0 !important;
  line-height: normal;
}
.layui-form .layui-form-item .input-null {
  width: 130px;
  margin: 0 10px;
  text-align: center;
  box-shadow: inset 0 0 8px 1px rgba(255, 255, 255, 0.4);
}
.layui-form .layui-form-item .input-text {
  color: #4bc5cf;
}
.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_main .login_box {
  position: relative;
  width: 716px;
  height: 642px;
}
.login_main .login_box .login_title {
  height: 43px;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  margin-top: 77px;
  margin-bottom: 15px;
}
.login_main .login_box .login_title2 {
  text-align: center;
  height: 34px;
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.38;
}
.login_main .login_box .login_form .login_cont {
  width: 438px;
  height: 82px;
  position: absolute;
  top: 213px;
  left: 136px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.login_main .login_box .login_form .login_cont .login-cont_i {
  width: 36px;
  height: 36px;
}
.login_main .login_box .login_form .login_cont input {
  background: none;
  margin-left: 15px;
  font-size: 25px;
  color: #fff;
}
.login_main .login_box .login_form .login_cont input::-webkit-input-placeholder {
  color: #fff;
}
.login_main .login_box .login_form .login_cont input:-moz-placeholder {
  color: #fff;
}
.login_main .login_box .login_form .login_cont input::-moz-placeholder {
  color: #fff;
}
.login_main .login_box .login_form .login_cont input:-ms-input-placeholder {
  color: #fff;
}
.login_main .login_box .login_form .password {
  top: 320px;
}
.login_main .login_box .login_form .login_button {
  width: 444px;
  height: 87px;
  position: absolute;
  bottom: 115px;
  left: 136px;
  cursor: pointer;
}
.PV_main .PV_left .PV-left_on {
  height: 80%;
  min-height: 450px;
}
.PV_main .PV_left .PV-left_on .layui-form {
  padding: 10px 60px;
  padding-bottom: 5px;
}
.PV_main .PV_left .PV-left_on .PV-cardbox {
  width: 370px;
  margin: auto;
}
.PV_main .PV_left .PV-left_on .PV-cardbox .row .layui-card {
  background: none;
  border: 1px solid #5365a0;
  margin: 0;
  padding: 0;
}
.PV_main .PV_left .PV-left_on .PV-cardbox .row .layui-card .layui-card-header {
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ccc;
  border: none;
  box-shadow: inset 0 0 8px 0 #4288b9;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.PV_main .PV_left .PV-left_on .PV-cardbox .row .layui-card .layui-card-body {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #4bc5cf;
  padding: 0;
  margin: 0;
}
.PV_main .PV_left .PV-left_und {
  height: 20%;
  min-height: 112px;
}
.PV_main .PV_left .PV-left_und .PV_meter {
  display: flex;
  justify-content: center;
}
.PV_main .PV_left .PV-left_und .PV_meter .PV-meter_li {
  width: 30px;
  height: 40px;
  line-height: 40px;
  margin: 20px 3px;
  text-align: center;
  font-size: 25px;
  box-shadow: inset 0 0 12px 1px #4288b9;
}
.PV_main .PV_right .PV-right_on {
  height: 35%;
  min-height: 196px;
  display: flex;
  flex-direction: column;
}
.PV_main .PV_right .PV-right_on .PV_time {
  flex-grow: 1;
  display: flex;
  margin: 20px 130px;
  padding: 0 50px;
  border: 1px solid #3f4ea8;
  border-top: none;
  border-right: none;
  justify-content: space-around;
  align-items: center;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_p {
  font-size: 15px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_bg {
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_bg .PV-time_num {
  font-size: 15px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_bg .PV-time_danwei {
  font-size: 15px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w1 {
  width: 60px;
  height: 60px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w2 {
  width: 98px;
  height: 98px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w3 {
  width: 105px;
  height: 105px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w4 {
  width: 82px;
  height: 82px;
}
.PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w5 {
  width: 107px;
  height: 107px;
}
.PV_main .PV_right .PV-right_mid {
  height: 30%;
  min-height: 168px;
}
.PV_main .PV_right .PV-right_und {
  height: 35%;
  min-height: 196px;
}
.bat2_main .com_title {
  padding: 34px 0 0 20px;
}
.bat2_main .bat2_on {
  height: 70%;
}
.bat2_main .bat2_on .bat2-on_box {
  width: 30%;
  height: 100%;
  padding: 0;
}
.bat2_main .bat2_on .bat2-on_box .on_row {
  height: 50%;
  position: relative;
}
.bat2_main .bat2_on .bat2-on_box .on_row .i_ri {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 30px;
  right: 25px;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 32px;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item .layui-form-label {
  font-size: 14px;
  flex-basis: 155px;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item .input-null {
  font-size: 14px;
  flex-basis: 50px;
  height: 15px;
  line-height: 15px;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item .layui-word-aux {
  font-size: 14px;
  flex-basis: 30px;
  text-align: center;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .row:nth-child(4) .layui-form-item .input-null {
  flex-basis: 70px;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .row:last-child {
  justify-content: center;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .row:last-child .layui-form-item {
  justify-content: center;
}
.bat2_main .bat2_on .bat2-on_box .on_row .layui-form .row:last-child .layui-form-label {
  flex-basis: 90px;
}
.bat2_main .bat2_on .bat2-on_mid {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont {
  flex-grow: 1;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .bat2-mid_form {
  height: 65%;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .bat2-mid_num {
  height: 35%;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form {
  padding: 45px;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item {
  display: flex;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item .layui-form-label {
  flex-basis: 100px;
  text-align: right;
  font-size: 16px;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item .input-null {
  font-size: 16px;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item .layui-word-aux {
  font-size: 16px;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echarts {
  height: 65%;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul .echartsNum_li {
  font-size: 16px;
  margin-bottom: 10px;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul .red {
  border-bottom: 3px solid red;
  font-weight: 600;
}
.bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul .green {
  border-bottom: 3px solid green;
  font-weight: 600;
}
.bat2_main .bat2_dow {
  height: 30%;
  position: relative;
}
.bat2_main .bat2_dow .dow_ZS {
  width: 25px;
  height: 45px;
  position: absolute;
  top: -23px;
  left: 0;
}
.bat2_main .bat2_dow .dow_ZS2 {
  width: 25px;
  height: 45px;
  position: absolute;
  top: -23px;
  right: 0;
}
.bat2_main .bat2_dow .bat2-linkBody {
  position: relative;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45px;
  left: 160px;
  height: 80%;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_icon1 {
  width: 71px;
  height: 86px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_icon2 {
  width: 57px;
  height: 63px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_icon3 {
  width: 77px;
  height: 84px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link-wkey {
  width: 67px;
  height: 18px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link-hkey {
  width: 15px;
  height: 49px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_kg {
  width: 31px;
  height: 28px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link-dc {
  width: 58px;
  height: 95px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_hr {
  box-shadow: inset 0 0 3px 1px #3d8ec1;
  font-size: 0;
  height: 6px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_hr2 {
  box-shadow: inset 0 0 3px 1px #3d8ec1;
  font-size: 0;
  width: 6px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_w1 {
  width: 40px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_w2 {
  width: 164px;
  position: relative;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_h1 {
  height: 117px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_h2 {
  height: 25px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody {
  display: flex;
  align-items: center;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link-wkeyBody {
  position: relative;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link-wkeyBody .wkey2 {
  position: absolute;
  bottom: -20px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg {
  position: relative;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg .bat2-link-kg_ul {
  position: absolute;
  top: 15px;
  left: 0;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg .bat2-link-kg_ul .bat2-link-kg_p {
  font-size: 12px;
  width: max-content;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg .bat2-link-kg_ul .bat2-link-kg_p span {
  font-size: 12px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody {
  display: flex;
  position: absolute;
  left: 410px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc .bat2-link-dc {
  position: relative;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc .bat2-link-dc .dc_text {
  width: max-content;
  position: absolute;
  top: 16px;
  left: 65px;
}
.bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc .bat2-link-dc .dc_text .dc-text_numb {
  height: 20px;
  font-size: 12px;
}
.fault_main .on_row {
  height: 35%;
}
.fault_main .und_row {
  height: 65%;
}
.fault_main .fault_cont {
  text-align: center;
  padding: 40px 0;
}
.fault_main .fault_cont .fault-cont_p {
  font-size: 18px;
}
.fault_main .fault_cont .fault-cont_img {
  width: 574px;
  height: 454px;
  margin: auto;
}
.fault_main .fault_biaoti {
  width: 275px;
  height: 75px;
  margin: 35px auto 0;
}
.fault_main .abn {
  color: #ff0000;
}
.fault_main .nor {
  color: #01c0ff;
}
.bat3_main .com_title {
  padding: 34px 0 0 20px;
}
.bat3_main .on_row {
  height: 35%;
}
.bat3_main .und_row {
  height: 65%;
}
.bat3_main .bat3_left .com_title {
  padding-left: 40px;
}
.bat3_main .bat3_mid .com_title {
  padding-left: 60px;
}
.bat3_main .bat3_right .com-mid_title {
  margin-top: 40px;
}
