@media screen and (max-width: 1366px) {
  body {
    min-width: 1280px;
  }
  .header {
    height: 74.9px;
  }
  .header .header_logo {
    width: 106.4px;
    height: 21px;
    margin-left: 35px;
  }
  .header .header_right {
    height: 12.6px;
    font-size: 12.6px;
    font-weight: 400;
    display: flex;
    margin-right: 35px;
  }
  .header .header_right .header-logout {
    width: 63px;
    height: 25.9px;
    margin-left: 23.1px;
  }
  .layui-form .layui-form-item {
    font-size: 10.4px;
    margin: 5px 0;
  }
  .layui-form .layui-form-item .input-null {
    padding: 0 13px;
    margin: 0 6.5px;
    box-shadow: inset 0 0 5.2px 1px rgba(255, 255, 255, 0.4);
  }
  .login_main .login_box {
    width: 501.2px;
    height: 449.4px;
  }
  .login_main .login_box .login_title {
    height: 30.1px;
    font-size: 31.5px;
    margin-top: 53.9px;
    margin-bottom: 10.5px;
  }
  .login_main .login_box .login_title2 {
    height: 23.8px;
    font-size: 23.8px;
  }
  .login_main .login_box .login_form .login_cont {
    width: 306.6px;
    height: 57.4px;
    top: 149.1px;
    left: 96.6px;
    padding: 0 14px;
  }
  .login_main .login_box .login_form .login_cont .login-cont_i {
    width: 25.2px;
    height: 25.2px;
  }
  .login_main .login_box .login_form .login_cont input {
    margin-left: 10.5px;
    font-size: 17.5px;
  }
  .login_main .login_box .login_form .password {
    top: 224px;
  }
  .login_main .login_box .login_form .login_button {
    width: 310.8px;
    height: 60.9px;
    bottom: 80.5px;
    left: 95.2px;
  }
  .com_main {
    flex-grow: 1;
    padding: 7px 3.5px;
  }
  .com_title {
    font-size: 12.6px;
    padding: 35px 0 0 28px;
  }
  .com_title span {
    width: 7px;
    height: 15.4px;
    margin-right: 5.6px;
  }
  .com-mid_title {
    margin: 14px 0 7px 0;
  }
  .com-mid_title .com-mid_text {
    width: 162.4px;
    font-size: 23.8px;
  }
  .com-mid_title .com-mid-title_cl {
    width: 25.2px;
    height: 39.9px;
  }
  .com-mid_title .com-mid-title_cr {
    width: 25.2px;
    height: 39.9px;
  }
  .com_cardBox {
    width: 259px;
  }
  .com_cardBox .row .layui-card .layui-card-header {
    height: 24.5px;
    line-height: 24.5px;
    box-shadow: inset 0 0 5.6px 0 #4288b9;
    font-size: 11.2px;
  }
  .com_cardBox .row .layui-card .layui-card-body {
    font-size: 11.2px;
    height: 35px;
    line-height: 35px;
  }
  .com_alarm {
    padding: 0 39px;
  }
  .com_alarm .com-alarm_title {
    font-size: 9.75px;
    margin: 13px 0;
  }
  .com_alarm .com-alarm_dd {
    font-size: 9.75px;
    margin: 6.5px 0;
  }
  .com_alarm .com-alarm_dd .com-alarm-dd_badge {
    box-shadow: inset 0 0 7.8px 1px #4288b9;
    font-size: 10.4px;
    -webkit-transform: scale(0.65, 0.65);
    display: inline-block;
    width: 16.25px;
    height: 16.25px;
    line-height: 16.25px;
    margin-right: 3.25px;
  }
  .fault_main .fault_cont {
    padding: 28px 0;
  }
  .fault_main .fault_cont .fault-cont_p {
    font-size: 12.6px;
  }
  .fault_main .fault_cont .fault-cont_img {
    width: 401.8px;
    height: 317.8px;
  }
  .fault_main .fault_biaoti {
    width: 192.5px;
    height: 52.5px;
    margin: 24.5px auto 0;
  }
  .bat2_main .com_title {
    padding: 22.1px 0 0 13px;
  }
  .bat2_main .bat2_on .bat2-on_box .on_row .i_ri {
    width: 18.2px;
    height: 18.2px;
    top: 19.5px;
    right: 16.25px;
  }
  .bat2_main .bat2_on .bat2-on_box .on_row .layui-form {
    padding: 9.75px 20.8px;
  }
  .bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item {
    margin: 6.5px 0;
  }
  .bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item .layui-form-label {
    font-size: 9.1px;
  }
  .bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item .input-null {
    font-size: 9.1px;
    padding: 0 13px;
    margin: 0;
  }
  .bat2_main .bat2_on .bat2-on_box .on_row .layui-form .layui-form-item .layui-word-aux {
    font-size: 9.1px;
    margin-left: 0;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form {
    padding: 30px 0;
    padding-left: 50px;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item .layui-form-label {
    flex-basis: 65px;
    font-size: 10.4px;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item .input-null {
    font-size: 10.4px;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_left .layui-form .layui-form-item .layui-word-aux {
    font-size: 10.4px;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul {
    margin: 0 13px;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul .echartsNum_li {
    font-size: 10.4px;
    margin-bottom: 6.5px;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul .red {
    border-bottom: 1.95px solid red;
  }
  .bat2_main .bat2_on .bat2-on_mid .com-mid_cont .bat2-mid_right .bat2-mid_echartsNum .bat2-mid-echartsNum_ul .green {
    border-bottom: 1.95px solid green;
  }
  .bat2_main .bat2_dow .dow_ZS {
    width: 16.25px;
    height: 29.25px;
    top: -14.95px;
    left: 0;
  }
  .bat2_main .bat2_dow .dow_ZS2 {
    width: 16.25px;
    height: 29.25px;
    top: -14.95px;
    right: 0;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link {
    top: 29.25px;
    left: 104px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_icon1 {
    width: 46.15px;
    height: 55.9px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_icon2 {
    width: 37.05px;
    height: 40.95px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_icon3 {
    width: 50.05px;
    height: 54.6px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link-wkey {
    width: 43.55px;
    height: 11.7px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link-hkey {
    width: 9.75px;
    height: 31.85px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_kg {
    width: 20.15px;
    height: 18.2px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link-dc {
    width: 37.7px;
    height: 61.75px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_hr {
    box-shadow: inset 0 0 1.95px 0.65px #3d8ec1;
    height: 3.9px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_hr2 {
    box-shadow: inset 0 0 1.95px 0.65px #3d8ec1;
    width: 3.9px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_w1 {
    width: 26px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_w2 {
    width: 106.6px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_h1 {
    height: 76.05px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .link_h2 {
    height: 16.25px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link-wkeyBody .wkey2 {
    bottom: -13px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg .bat2-link-kg_ul {
    top: 9.75px;
    left: 0;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg .bat2-link-kg_ul .bat2-link-kg_p {
    font-size: 7.8px;
    -webkit-transform: scale(0.65);
    display: inline-block;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_iconBody .bat2-link_kg .bat2-link-kg_ul .bat2-link-kg_p span {
    font-size: 7.8px;
    -webkit-transform: scale(0.65);
    display: inline-block;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody {
    left: 266.5px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc {
    top: -9.75px;
    right: -9.75px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc .bat2-link-dc .dc_text {
    top: 10.4px;
    left: 25px;
  }
  .bat2_main .bat2_dow .bat2-linkBody .bat2_link .bat2-link_dcBody .bat2-link_liDc .bat2-link-dc .dc_text .dc-text_numb {
    height: 13px;
    font-size: 7.8px;
    -webkit-transform: scale(0.65);
  }
  .PV_main .PV_left .PV-left_on .layui-form {
    padding: 6px 36px;
    padding-bottom: 3px;
  }
  .PV_main .PV_left .PV-left_und .PV_meter .PV-meter_li {
    width: 21px;
    height: 28px;
    line-height: 28px;
    margin: 14px 2.1px;
    font-size: 17.5px;
    box-shadow: inset 0 0 8.4px 0.7px #4288b9;
  }
  .PV_main .PV_right .PV-right_on .PV_time {
    margin: 12 78px;
    padding: 0 30px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_p {
    font-size: 9px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_bg {
    margin: 9px 0;
    font-size: 9px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_bg .PV-time_num {
    font-size: 9px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time_bg .PV-time_danwei {
    font-size: 9px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w1 {
    width: 36px;
    height: 36px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w2 {
    width: 58.8px;
    height: 58.8px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w3 {
    width: 63px;
    height: 63px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w4 {
    width: 49.2px;
    height: 49.2px;
  }
  .PV_main .PV_right .PV-right_on .PV_time .PV-time_li .PV-time-w5 {
    width: 64.2px;
    height: 64.2px;
  }
  .PV_main .PV_right .PV-right_mid .PV_alarm {
    padding: 0 36px;
  }
  .PV_main .PV_right .PV-right_mid .PV_alarm .PV-alarm_title {
    font-size: 9px;
    margin: 12px 0;
  }
  .PV_main .PV_right .PV-right_mid .PV_alarm .PV-alarm_dd {
    font-size: 9px;
    margin: 6px 0;
  }
  .PV_main .PV_right .PV-right_mid .PV_alarm .PV-alarm_dd .PV-alarm-dd_badge {
    box-shadow: inset 0 0 7.2px 1px #4288b9;
    font-size: 9.6px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-right: 3px;
  }
  .bat3_main .com_title {
    padding: 22.1px 0 0 13px;
  }
  .bat3_main .bat3_left .com_title {
    padding-left: 26px;
  }
  .bat3_main .bat3_left .on_row .bat3-left_cd .bat3-left-cd_bg {
    width: 74.1px;
    height: 118.95px;
  }
  .bat3_main .bat3_left .on_row .bat3-left_cd .bat3-left-cd_text {
    font-size: 9.1px;
    margin-top: 6.5px;
  }
  .bat3_main .bat3_left .und_row .bat3-left_img {
    width: 165.1px;
    height: 336.05px;
  }
  .bat3_main .bat3_mid .com_title {
    padding-left: 39px;
  }
  .bat3_main .bat3_mid .bat3-mid_on {
    margin: 13px 0;
  }
  .bat3_main .bat3_mid .bat3-mid_on .bat3-mid_onform {
    padding-left: 45.5px;
  }
  .bat3_main .bat3_mid .bat3-mid_on .bat3-mid-onRight {
    padding-top: 78px;
  }
  .bat3_main .bat3_mid .bat3-mid_on .bat3-mid-onRight .bat3_img {
    width: 209.95px;
    height: 171.6px;
    top: -67.6px;
    left: 0;
    right: 0;
  }
  .bat3_main .bat3_mid .bat3-mid_card {
    width: 390px;
    margin-top: 13px;
  }
  .bat3_main .bat3_mid .bat3-mid_num {
    margin-top: 32.5px;
  }
  .bat3_main .bat3_mid .bat3-mid_num .bat3-mid-num_ul {
    margin: 0 13px;
  }
  .bat3_main .bat3_mid .bat3-mid_num .bat3-mid-num_ul .num_li {
    font-size: 11.7px;
    margin-bottom: 6.5px;
  }
  .bat3_main .bat3_mid .bat3-mid_num .bat3-mid-num_ul .red {
    border-bottom: 1.95px solid red;
    font-size: 15.6px;
  }
  .bat3_main .bat3_mid .bat3-mid_num .bat3-mid-num_ul .green {
    border-bottom: 1.95px solid #00ff36;
    font-size: 15.6px;
  }
  .bat3_main .bat3_right .com-mid_title {
    margin-top: 26px;
  }
  .bat3_main .bat3_right .bat3-right_dcBox .bat3_cd {
    margin: 0;
  }
  .bat3_main .bat3_right .bat3-right_dcBox .bat3_cd .bat3-dc_text {
    margin: 0 13px;
  }
  .bat3_main .bat3_right .bat3-right_dcBox .bat3_cd .bat3-dc_text li {
    font-size: 7.8px;
    line-height: 15px;
  }
  .bat3_main .bat3_right .bat3-right_dcBox .bat3_cd .bat3-dc_bg {
    width: 29.25px;
    height: 45.5px;
  }
}
